# Aula 04 - Exploração e Visualização

Uma parte fundamental do kit de ferramentas do cientista de dados é a visualização de dados. Embora seja muito fácil criar visualizações, é muito mais difícil produzir boas visualizações.

Existem dois usos principais para visualização de dados:

    Para explorar dados;
    Para comunicar dados.

Nesta aula, nos concentraremos em desenvolver as habilidades que você precisará para começar a explorar os seus próprios dados e produzir as visualizações que usaremos ao longo do curso.

Como a maioria dos tópicos que veremos, a visualização de dados é um rico campo de estudo que merece o seu próprio curso.

No entanto, vamos tentar dar uma ideia do que contribui para uma boa visualização e o que não contribui.


## Objetivos

1. Aprender Matplotlib
2. Aprender conceitos básicos de visualizar dados
3. Um pouco mais de filtro e seleção de dados

## Resultado Esperado

1. Junto com a aula passada, ferramentas simples para exploração de dados
1. Muito pode ser feito sem modelos (lembre do John-Snow Experiment)
1. Plots + Filtros!

In [1]:
# -*- coding: utf8

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

plt.ion()

## EDA

Vamos iniciar explorando algumas chamadas sobre como fazer merge e tratar missing data. Alguns passos simples para
a Limpeza de Dados.

In [2]:
people = pd.DataFrame(
    [["Joey",      "blue",       42,  "M"],
     ["Weiwei",    "blue",       50,  "F"],
     ["Joey",      "green",       8,  "M"],
     ["Karina",    "green",  np.nan,  "F"],
     ["Fernando",  "pink",        9,  "M"],
     ["Nhi",       "blue",        3,  "F"],
     ["Sam",       "pink",   np.nan,  "M"]], 
    columns = ["Name", "Color", "Age", "Gender"])
people

       Name  Color   Age Gender
0      Joey   blue  42.0      M
1    Weiwei   blue  50.0      F
2      Joey  green   8.0      M
3    Karina  green   NaN      F
4  Fernando   pink   9.0      M
5       Nhi   blue   3.0      F
6       Sam   pink   NaN      M

In [3]:
email = pd.DataFrame(
    [["Deb",  "deborah_nolan@berkeley.edu"],
     ["Sam",  np.nan],
     ["John", "doe@nope.com"],
     ["Joey", "jegonzal@cs.berkeley.edu"],
     ["Weiwei", "weiwzhang@berkeley.edu"],
     ["Weiwei", np.nan],
     ["Karina", "kgoot@berkeley.edu"]], 
    columns = ["User Name", "Email"])
email

  User Name                       Email
0       Deb  deborah_nolan@berkeley.edu
1       Sam                         NaN
2      John                doe@nope.com
3      Joey    jegonzal@cs.berkeley.edu
4    Weiwei      weiwzhang@berkeley.edu
5    Weiwei                         NaN
6    Karina          kgoot@berkeley.edu

In [4]:
people.merge(email, 
             how = "inner",
             left_on = "Name", right_on = "User Name")

     Name  Color   Age Gender User Name                     Email
0    Joey   blue  42.0      M      Joey  jegonzal@cs.berkeley.edu
1    Joey  green   8.0      M      Joey  jegonzal@cs.berkeley.edu
2  Weiwei   blue  50.0      F    Weiwei    weiwzhang@berkeley.edu
3  Weiwei   blue  50.0      F    Weiwei                       NaN
4  Karina  green   NaN      F    Karina        kgoot@berkeley.edu
5     Sam   pink   NaN      M       Sam                       NaN

Como podemos tratar?

1. Missing data nas cores?
2. Missing data nos e-mails?

In [5]:
people['Age'] = people['Age'].fillna(people['Age'].mean())
people

       Name  Color   Age Gender
0      Joey   blue  42.0      M
1    Weiwei   blue  50.0      F
2      Joey  green   8.0      M
3    Karina  green  22.4      F
4  Fernando   pink   9.0      M
5       Nhi   blue   3.0      F
6       Sam   pink  22.4      M

In [6]:
email.dropna()

  User Name                       Email
0       Deb  deborah_nolan@berkeley.edu
2      John                doe@nope.com
3      Joey    jegonzal@cs.berkeley.edu
4    Weiwei      weiwzhang@berkeley.edu
6    Karina          kgoot@berkeley.edu

Voltando para os dados de nomes.

In [7]:
df = pd.read_csv('baby.csv')
df

          version https://git-lfs.github.com/spec/v1
0  oid sha256:7d8ad435a140a517fb4d82d4149515a1e85...
1                                     size 154696208

In [8]:
cols = ['Year', 'Count']
df[cols]

KeyError: "None of [Index(['Year', 'Count'], dtype='object')] are in the [columns]"

In [ ]:
df[cols].groupby('Year').sum()

In [ ]:
series = df[cols].groupby('Year').sum()

In [ ]:
series.plot(figsize=(18, 10), fontsize=16, lw=5)
plt.xlabel('')

Pequena gambiarra abaixo, vou colocar cada ano no formato 1-1-ANO. Assim o pandas sabe criar uma data.

In [ ]:
new_series = series.copy()
['1-1-{}'.format(str(x)) for x in new_series.index]

Depois vou criar um novo índice

In [ ]:
dates = pd.to_datetime(['15-6-{}'.format(str(x)) for x in new_series.index])
new_series.index = pd.DatetimeIndex(dates)
new_series

In [ ]:
new_series.resample('10Y').sum()

In [ ]:
new_series.resample('10Y').mean().plot(figsize=(18, 10), fontsize=16, lw=5)
plt.xlabel('')

### matplotlib

Existe uma grande variedade de ferramentas para visualizar dados. 

Nós usaremos a biblioteca `matplotlib`, que é amplamente utilizada (embora mostre sua idade). 

Se você estiver interessado em produzir visualizações interativas elaboradas para a Web, provavelmente não é a escolha certa, mas para gráficos de barras simples, gráficos de linhas e diagramas de dispersão, funciona muito bem.

Em particular, estamos usando o módulo `matplotlib.pyplot`.

Em seu uso mais simples, o `pyplot` mantém um estado interno no qual você constrói uma visualização passo a passo. 

Quando terminar, você poderá salvá-lo (com `savefig()`) ou exibi-lo (com `show()`).

Vamos iniciar com duas listas simples de dados.

In [ ]:
anos = [1950, 1960, 1970, 1980, 1990, 2000, 2010]
pib = [300.2, 543.3, 1075.9, 2862.5, 5979.6, 10289.7, 14958.3]

In [ ]:
# cria um gráfico de linhas, com os anos no eixo x e o pib no eixo y
plt.plot(anos, pib)

# Adiciona um título
plt.title('Nominal GDP')

# Label nos eixos
plt.ylabel('Billions of USD')
plt.xlabel('Ano')

plt.show()

Podemos mudar a aparência usando estilos.

In [ ]:
plt.style.use('seaborn')

In [ ]:
# cria um gráfico de linhas, com os anos no eixo x e o pib no eixo y
plt.plot(anos, pib)

# Adiciona um título
plt.title('Nominal GDP')

# Label nos eixos
plt.ylabel('Billions of USD')
plt.xlabel('Ano')

plt.show()

Em particular, eu acho bom usar os estilos colorblind. Ajudam a fazer artigos científicos e garantir que todos entendam eu plot.

In [ ]:
plt.style.available

In [ ]:
# O comando abaixo precisa ser executada apenas uma vez, como já estamos no estilo seaborn
# o notebook deve continuar no mesmo.
# plt.style.use('seaborn-colorblind')

Podemos também usar vetores numpy sem problemas

In [ ]:
x = np.linspace(-100, 100, 100) * 0.1
x

In [ ]:
plt.figure(figsize=(18, 10))

plt.plot(x, np.sin(x), label='Sine')
plt.plot(x, np.cos(x), label='Cosine')
plt.legend()

ax = plt.gca()
for item in ([ax.title, ax.xaxis.label, ax.yaxis.label] +
             ax.get_xticklabels() + ax.get_yticklabels()):
    item.set_fontsize(20)

In [ ]:
plt.plot(np.sin(x), np.cos(x))
plt.xlabel('Sine')
plt.ylabel('Cosine')

## Movies Dataset

Vamos olhar para mais ou menos 50 atores e algumas métricas dos filmes que os mesmos fazem parte. Em particular, vamos iniciar explorando uma forma de visualizar dados que é o histograma.

In [ ]:
df = pd.read_csv('top_movies.csv')

In [ ]:
df.head(6)

In [ ]:
mean_g.sort_values()[::-1].plot.bar()

In [ ]:
plt.figure(figsize=(18, 10))
mean_g = df.groupby('Studio').mean()['Gross (Adjusted)']
mean_g /= 1e8
ax = mean_g.sort_values()[::-1].plot.bar(fontsize=20)
plt.ylabel('Média de Lucro em Milhões')
for item in ([ax.title, ax.xaxis.label, ax.yaxis.label] +
             ax.get_xticklabels() + ax.get_yticklabels()):
    item.set_fontsize(20)

In [ ]:
mean_g = df.groupby('Studio').mean()['Gross (Adjusted)']
mean_g /= 1e8
plt.figure(figsize=(18, 10))
plt.hist(mean_g)
plt.xlabel('Millions of Dollars')
plt.ylabel('# of Studios')

ax = plt.gca()
for item in ([ax.title, ax.xaxis.label, ax.yaxis.label] +
             ax.get_xticklabels() + ax.get_yticklabels()):
    item.set_fontsize(20)

## Base de actors

In [ ]:
df = pd.read_csv('actors.csv')
df

In [ ]:
plt.figure(figsize=(18, 10))
plt.hist(df['Average per Movie'])
plt.xlabel('Média por Filme')
plt.ylabel('Número de linhas')
ax = plt.gca()
for item in ([ax.title, ax.xaxis.label, ax.yaxis.label] +
             ax.get_xticklabels() + ax.get_yticklabels()):
    item.set_fontsize(20)

In [ ]:
plt.figure(figsize=(18, 10))
plt.hist(df['Average per Movie'])
plt.xlabel('Média por Filme')
plt.ylabel('P(x)')
ax = plt.gca()
for item in ([ax.title, ax.xaxis.label, ax.yaxis.label] +
             ax.get_xticklabels() + ax.get_yticklabels()):
    item.set_fontsize(20)

In [ ]:
plt.figure(figsize=(18, 10))
data = df['Average per Movie'][df['Average per Movie'] < 100]
plt.xlabel('Média por Filme')
plt.ylabel('P(x)')
plt.hist(data)
ax = plt.gca()
for item in ([ax.title, ax.xaxis.label, ax.yaxis.label] +
             ax.get_xticklabels() + ax.get_yticklabels()):
    item.set_fontsize(20)

In [ ]:
plt.figure(figsize=(18, 10))
data = df['Average per Movie']
plt.xlabel('Média por Filme')
plt.ylabel('P(x)')
plt.hist(data, bins=50)
ax = plt.gca()
for item in ([ax.title, ax.xaxis.label, ax.yaxis.label] +
             ax.get_xticklabels() + ax.get_yticklabels()):
    item.set_fontsize(20)

# Problemas de escala

In [ ]:
plt.figure(figsize=(18, 10))
mentions = [500, 505]
years = [2013, 2014]

plt.bar(years, mentions)

plt.xticks(years)
plt.ylabel("# de vezes que escutei alguém dizer 'data science'")

# define o os limites do eixo y:
plt.ylim(499,506)

plt.title("Wow! Vejam que aumento!")

ax = plt.gca()
for item in ([ax.title, ax.xaxis.label, ax.yaxis.label] +
             ax.get_xticklabels() + ax.get_yticklabels()):
    item.set_fontsize(20)

In [ ]:
plt.figure(figsize=(18, 10))

plt.bar(years, mentions)

plt.xticks(years)
plt.ylabel("# de vezes que escutei alguém dizer 'data science'")

plt.ylim(0, max(mentions)*1.1)
plt.title("Humm... Até que o aumento não foi tão grande.")

ax = plt.gca()
for item in ([ax.title, ax.xaxis.label, ax.yaxis.label] +
             ax.get_xticklabels() + ax.get_yticklabels()):
    item.set_fontsize(20)

# Dados 2d com e leitura de JSON

O pandas também sabe ler dados em json! Vamos tentar.

In [ ]:
df = pd.read_json('capital.json')

In [ ]:
df

In [ ]:
plt.figure(figsize=(18, 10))
plt.scatter(df['patrimonio_eleicao_1'], df['patrimonio_eleicao_2'])
linha45 = np.unique(df['patrimonio_eleicao_1'])
plt.plot(linha45, linha45)

plt.xlabel('Capital em 2014')
plt.ylabel('Capital em 2018')
ax = plt.gca()
for item in ([ax.title, ax.xaxis.label, ax.yaxis.label] +
             ax.get_xticklabels() + ax.get_yticklabels()):
    item.set_fontsize(20)